# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
venv*/

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject

# pyenv
.python-version

# PyInstaller
*.manifest
*.spec

# dotenv
.env
.env.*

# Database files
*.sqlite3

# Logs and temp
*.tmp
*.ini

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.VolumeIcon.icns

# Editor swap/backup files
*~
*.swp
*.swo
*.bak

# Assignment Stuff
sample-requests/